* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
button {
  font-size: 1.6rem;
  font-family: 'Alegreya Sans', sans-serif;
  padding: 0.5rem 1.2rem;
  min-height: 40px;
  min-width: 120px;
  border: none;
  outline: none;
}
button.btn-small {
  min-height: 35px;
  min-width: 100px;
}
button.btn-light {
  background: #fff;
  color: #000;
}
button.btn-primary {
  background: #a1d3a2;
  color: #fff;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alegreya Sans', sans-serif;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #777;
}
p.small {
  font-size: 1.5rem;
}
/* Glow */
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}
.hvr-kenburns img {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  position: relative;
}
.hvr-kenburns .overlay:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 3;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-kenburns:hover img,
.hvr-kenburns:focus img,
.hvr-kenburns:active img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.hvr-kenburns:hover .overlay:before,
.hvr-kenburns:focus .overlay:before,
.hvr-kenburns:active .overlay:before {
  background: rgba(0, 0, 0, 0);
}
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover,
.hvr-fade:focus,
.hvr-fade:active {
  background-color: #2098D1;
  color: #fff;
}
header.content-container {
  padding: 2rem;
  height: 85vh;
  position: relative;
}
header.content-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem;
}
header.content-container > div .hero-content {
  color: #000;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 2;
  height: fit-content;
  padding: 3rem 2rem;
  text-align: center;
}
header.content-container > div .hero-content h1 {
  font-size: 4rem;
  line-height: 1.2;
}
header.content-container > div .hero-content h1 span {
  display: block;
}
@media (min-width: 500px) {
  header.content-container > div .hero-content h1 {
    font-size: 5rem;
  }
}
header.content-container > div .hero-content p {
  color: #777;
  margin-bottom: 1rem;
}
header.content-container > div .hero-background {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.3);
}
header.content-container > div .hero-background::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.4s ease-out;
  z-index: 2;
}
header.content-container > div .hero-background .image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
header.content-container > div .hero-background .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header.content-container.is-home-header {
  max-width: 1080px;
}
@media (min-width: 992px) {
  header.content-container.is-home-header {
    align-items: initial;
    position: static;
    margin: 0 auto;
    width: 100%;
    height: 70vh;
  }
}
@media (min-width: 992px) {
  header.content-container.is-home-header > div {
    position: static;
    display: block;
  }
}
@media (min-width: 992px) {
  header.content-container.is-home-header > div .hero-content {
    width: 50%;
    height: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-top: 5rem;
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
header.content-container.is-home-header > div .hero-content .search-form {
  display: none;
  min-height: 40px;
  margin-top: 2rem;
  z-index: 2;
  margin-top: 4rem;
  min-height: 50px;
  margin-right: -100px;
}
@media (min-width: 992px) {
  header.content-container.is-home-header > div .hero-content .search-form {
    display: flex;
  }
}
header.content-container.is-home-header > div .hero-content .search-form input {
  display: inline-block;
  width: 100%;
  border: none;
  outline: none;
}
header.content-container.is-home-header > div .hero-content .search-form input[type="search"] {
  width: 70%;
  padding: 0 1rem;
  font-size: 1.7rem;
  color: #777;
  background: #f9f9f9;
  border-right: none;
}
@media (min-width: 992px) {
  header.content-container.is-home-header > div .hero-content .search-form input[type="search"] {
    border: 1px solid #eee;
    padding: 0 1.5rem;
    width: calc(100% - 100px);
  }
}
header.content-container.is-home-header > div .hero-content .search-form input[placeholder] {
  font-size: 1.3rem;
}
header.content-container.is-home-header > div .hero-content .search-form input[type="button"] {
  width: 30%;
  max-width: 100px;
  background: #a1d3a2;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Alegreya Sans', sans-serif;
}
@media (min-width: 992px) {
  header.content-container.is-home-header > div .hero-background {
    width: 50%;
    height: 70vh;
  }
}
nav {
  max-width: 1140px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 2rem;
  width: 100%;
  z-index: 3;
}
nav a {
  font-size: 2rem;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: bold;
  color: #fff;
  margin-left: 2rem;
}
@media (min-width: 992px) {
  nav a.is-home {
    color: #000;
  }
}
nav button {
  margin-right: 2rem;
}
.slider {
  width: 100vw;
  padding-top: 3rem;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.slider::-webkit-scrollbar {
  display: none;
}
.slide {
  display: inline-block;
  min-height: 400px;
  min-width: 250px;
  transition: 0.25s ease-out;
  position: relative;
  margin-right: 2.5rem;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
}
.slide a {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
@media (min-width: 992px) {
  .slide:first-of-type {
    margin-left: -6px;
  }
}
.slide:last-child {
  margin-right: 2rem;
}
@media (min-width: 500px) {
  .slide:last-child {
    margin-right: 3.5rem;
  }
}
.slide img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.25s ease-out;
}
.slide h3 {
  z-index: 3;
  position: relative;
  font-size: 1.5rem;
  color: #000;
  background: white;
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 0.5rem 2rem;
  min-width: 100px;
  text-align: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 500px) {
  .cards {
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .cards {
    max-width: 100%;
  }
}
.cards .card {
  max-width: 400px;
  width: 100%;
  min-height: 300px;
  position: relative;
  margin-top: 3.5rem;
  transition: 0.4s ease-out;
}
@media (min-width: 500px) {
  .cards .card {
    width: calc(50% - 15px);
  }
}
@media (min-width: 992px) {
  .cards .card {
    width: calc(25% - 25px);
  }
}
.cards .card a {
  display: block;
}
.cards .card a .card-content {
  margin-top: 1.5rem;
  text-align: center;
}
@media (min-width: 500px) {
  .cards .card a .card-content {
    text-align: left;
  }
}
.cards .card a .card-content h2 {
  font-size: 2rem;
  color: #000;
  text-align: inherit;
}
.cards .card a .card-content p {
  font-size: 1.4rem;
}
.cards .card .card-image {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
}
.cards .card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease-out;
}
.cards .card.content-card .card-image {
  height: 200px;
}
.cards .card.content-card a .card-content {
  padding: 0 2rem 2rem;
}
.content-wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 4rem 2rem;
  width: 100%;
  height: 100%;
  text-align: center;
}
@media (min-width: 500px) {
  .content-wrapper {
    padding: 5rem 2rem;
  }
}
.content-wrapper.no-bottom {
  padding-bottom: 0;
}
.content-wrapper.no-top {
  padding-top: 0;
}
.content-wrapper.full-width {
  max-width: 100%;
}
@media (min-width: 992px) {
  .content-wrapper {
    text-align: left;
  }
}
.content-wrapper h2 {
  font-size: 3.2rem;
  line-height: 1.2;
  text-align: center;
}
.content-wrapper h2 span {
  display: block;
  font-size: 2.2rem;
}
@media (min-width: 992px) {
  .content-wrapper h2 span {
    font-size: 2.5rem;
  }
}
@media (min-width: 500px) {
  .content-wrapper h2 {
    font-size: 3.5rem;
  }
}
@media (min-width: 992px) {
  .content-wrapper h2 {
    font-size: 4.5rem;
    text-align: left;
  }
}
.content-wrapper p {
  max-width: 500px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .content-wrapper p {
    margin: 0;
  }
}
.choose-experience {
  padding-top: 2rem;
}
@media (min-width: 992px) {
  .choose-experience {
    padding-top: 5rem;
  }
}
.about-us {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 992px) {
  .about-us .excerpt {
    height: 300px;
    background: rgba(161, 211, 162, 0.1);
  }
}
.about-us .excerpt p {
  line-height: 1.6;
  max-width: 750px;
  padding: 1rem 3rem 3.5rem;
  margin: 0 auto;
  background: #fff;
  text-align: left;
}
@media (min-width: 992px) {
  .about-us .content-wrapper {
    margin-top: -180px;
  }
}
.about-us .content-wrapper video {
  width: 100%;
  height: 500px;
  object-fit: cover;
  background: rgba(0, 0, 0, 0.3);
}
.cta-section {
  position: relative;
  z-index: 2;
  background: #00334e;
  max-width: 1080px;
  margin: 0 auto;
  padding: 4rem 2rem;
  width: 100%;
  height: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}
@media (min-width: 500px) {
  .cta-section {
    padding: 5rem 2rem;
  }
}
@media (min-width: 992px) {
  .cta-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.cta-section .cta-content {
  color: #fff;
  text-align: center;
}
@media (min-width: 992px) {
  .cta-section .cta-content {
    text-align: left;
  }
}
.cta-section .cta-content h2 {
  text-align: center;
}
@media (min-width: 992px) {
  .cta-section .cta-content h2 {
    text-align: left;
  }
}
.cta-section .cta-content p {
  color: #fff;
  margin-top: 1rem;
}
.cta-section .cta-btns {
  margin: 3rem auto 0;
  max-width: 200px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 500px) {
  .cta-section .cta-btns {
    display: block;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .cta-section .cta-btns {
    margin: 3rem 0 0;
  }
}
.cta-section .cta-btns button:first-child {
  margin-bottom: 2rem;
}
@media (min-width: 500px) {
  .cta-section .cta-btns button:first-child {
    margin-right: 20px;
    margin-bottom: 0;
  }
}
footer {
  background: rgba(161, 211, 162, 0.1);
  position: relative;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5rem;
  margin-top: -80px;
}
footer > .content-wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 4rem 2rem;
  width: 100%;
  height: 100%;
}
@media (min-width: 500px) {
  footer > .content-wrapper {
    padding: 5rem 2rem;
  }
}
footer > .content-wrapper p {
  text-align: center;
  max-width: 100%;
  font-size: 1.4rem;
}
