* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  height: 100vh;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alegreya Sans', sans-serif;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #777;
}
p.small {
  font-size: 1.5rem;
}
.parallax {
  height: 70%;
  width: 100%;
  position: relative;
}
.slider {
  width: 100vw;
  padding-top: 3rem;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.slider::-webkit-scrollbar {
  display: none;
}
.slide-container {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 2rem;
  scroll-snap-type: mandatory;
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: x mandatory;
}
.slide {
  scroll-snap-align: center;
  display: inline-block;
  min-height: 400px;
  min-width: 250px;
  transition: 0.4s ease-out;
  position: relative;
  margin-right: 2.5rem;
  overflow: hidden;
}
.slide a {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
}
.slide a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.4s ease-out;
  z-index: 2;
}
.slide a:hover:before {
  background: rgba(0, 0, 0, 0);
}
@media (min-width: 500px) {
  .slide:hover {
    transform: translateY(-20px);
  }
}
.slide:hover img {
  transform: scale(1.1);
}
.slide:last-child {
  margin-right: 2rem;
}
@media (min-width: 500px) {
  .slide:last-child {
    margin-right: 3.5rem;
  }
}
.slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease-out;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 500px) {
  .cards {
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .cards {
    max-width: 100%;
  }
}
.cards .card {
  max-width: 300px;
  width: 100%;
  min-height: 300px;
  position: relative;
  margin-top: 3.5rem;
  transition: 0.4s ease-out;
}
@media (min-width: 500px) {
  .cards .card {
    width: calc(50% - 15px);
  }
}
@media (min-width: 992px) {
  .cards .card {
    width: calc(25% - 25px);
  }
}
@media (min-width: 500px) {
  .cards .card:hover {
    transform: translateY(-20px);
  }
}
.cards .card:hover .card-image img {
  transform: scale(1.1);
}
.cards .card a {
  display: block;
}
.cards .card a .card-content {
  margin-top: 1.5rem;
  text-align: center;
}
@media (min-width: 500px) {
  .cards .card a .card-content {
    text-align: left;
  }
}
.cards .card a .card-content h2 {
  font-size: 2rem;
  color: #000;
  text-align: inherit;
}
.cards .card a .card-content p {
  font-size: 1.4rem;
}
.cards .card .card-image {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}
.cards .card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease-out;
}
header.content-container {
  max-width: 1080px;
  padding: 0 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 2rem;
}
@media (min-width: 992px) {
  header.content-container {
    align-items: initial;
    position: static;
    margin: 0 auto;
    width: 100%;
  }
}
header.content-container .hero-content {
  color: #000;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 2;
  height: fit-content;
  padding: 3rem 2rem;
  text-align: center;
}
@media (min-width: 992px) {
  header.content-container .hero-content {
    width: 50%;
    height: 100%;
    max-width: 100%;
    margin-left: 0;
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
header.content-container .hero-content h1 {
  font-size: 4rem;
  line-height: 1.2;
}
header.content-container .hero-content h1 span {
  display: block;
}
@media (min-width: 500px) {
  header.content-container .hero-content h1 {
    font-size: 5rem;
  }
}
header.content-container .hero-content p {
  color: #777;
  margin-bottom: 1rem;
}
header.content-container .hero-content .search-form {
  display: none;
  min-height: 40px;
  margin-top: 2rem;
  z-index: 2;
  margin-top: 4rem;
  min-height: 50px;
  margin-right: -100px;
}
@media (min-width: 992px) {
  header.content-container .hero-content .search-form {
    display: flex;
  }
}
header.content-container .hero-content .search-form input {
  display: inline-block;
  width: 100%;
  border: none;
  outline: none;
}
header.content-container .hero-content .search-form input[type="search"] {
  width: 70%;
  padding: 0 1rem;
  font-size: 1.7rem;
  color: #777;
  background: #f9f9f9;
  border-right: none;
}
@media (min-width: 992px) {
  header.content-container .hero-content .search-form input[type="search"] {
    border: 1px solid #eee;
    padding: 0 1.5rem;
    width: calc(100% - 100px);
  }
}
header.content-container .hero-content .search-form input[placeholder] {
  font-size: 1.3rem;
}
header.content-container .hero-content .search-form input[type="button"] {
  width: 30%;
  max-width: 100px;
  background: #a1d3a2;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Alegreya Sans', sans-serif;
}
header.content-container .hero-background {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: -1;
}
header.content-container .hero-background::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.4s ease-out;
  z-index: 2;
}
@media (min-width: 992px) {
  header.content-container .hero-background {
    width: 50%;
  }
}
header.content-container .hero-background .image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
header.content-container .hero-background .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content {
  background: #fff;
  position: absolute;
  top: 100%;
  width: 100%;
  padding-bottom: 9rem;
}
.content-wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 4rem 2rem;
  width: 100%;
  height: 100%;
  text-align: center;
}
@media (min-width: 500px) {
  .content-wrapper {
    padding: 5rem 2rem;
  }
}
.content-wrapper.no-bottom {
  padding-bottom: 0;
}
.content-wrapper.no-top {
  padding-top: 0;
}
@media (min-width: 992px) {
  .content-wrapper {
    text-align: left;
  }
}
.content-wrapper > h2 {
  font-size: 3.2rem;
  line-height: 1.2;
  text-align: center;
}
.content-wrapper > h2 span {
  display: block;
  font-size: 2.2rem;
}
@media (min-width: 992px) {
  .content-wrapper > h2 span {
    font-size: 2.5rem;
  }
}
@media (min-width: 500px) {
  .content-wrapper > h2 {
    font-size: 3.5rem;
  }
}
@media (min-width: 992px) {
  .content-wrapper > h2 {
    font-size: 4.5rem;
    text-align: left;
  }
}
.content-wrapper > p {
  max-width: 500px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .content-wrapper > p {
    margin: 0;
  }
}
.choose-experience {
  padding-top: 4rem;
}
@media (min-width: 992px) {
  .choose-experience {
    padding-top: 5rem;
  }
}
.about-us {
  margin-top: 6rem;
  position: relative;
}
@media (min-width: 500px) {
  .about-us {
    margin-top: 7rem;
  }
}
@media (min-width: 992px) {
  .about-us {
    margin-top: 9rem;
    height: 400px;
    background: rgba(161, 211, 162, 0.1);
  }
}
.about-us .excerpt {
  max-width: 750px;
  padding: 1rem 3rem 3rem;
  margin: 0 auto;
}
.about-us .excerpt p {
  line-height: 1.6;
}
@media (min-width: 500px) {
  .about-us .excerpt {
    background: #fff;
  }
}
.about-us .content-wrapper {
  padding-top: 0;
}
.about-us .content-wrapper video {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.choose-guides {
  position: relative;
}
@media (min-width: 992px) {
  .choose-guides {
    top: 250px;
  }
}
