.main-content {
    background: @white;
    position: absolute;
    top: 100%;
    width: 100%;
    padding-bottom: 9rem;
}

.content-wrapper {
    .section-wrapper();
    text-align: center;

    &.no-bottom {
        padding-bottom: 0;
    }

    &.no-top {
        padding-top: 0;
    }

    @media @tablet {
        text-align: left;
    }

    & > h2 {
        font-size: 3.2rem;
        line-height: 1.2; 
        text-align: center;

        span {
            display: block;
            font-size: 2.2rem;

            @media @tablet {
                font-size: 2.5rem;
            }
        }

        @media @pre-tablet {
            font-size: 3.5rem;
        }

        @media @tablet {
            font-size: 4.5rem;
            text-align: left;
        }
    }

    & > p {
        max-width: 500px;
        margin: 0 auto;

        @media @tablet {
            margin: 0;
        }
    }
}


.choose-experience {
    padding-top: 4rem;

    @media @tablet {
        padding-top: 5rem;
    }
}

.about-us {
    margin-top: 6rem;
    position: relative;

    @media @pre-tablet {
        margin-top: 7rem;
    }

    @media @tablet {
        margin-top: 9rem;
        height: 400px;
        .primaryColorBg(.1);
    }

    .excerpt {
        max-width: 750px;
        padding: 1rem 3rem 3rem;
        margin: 0 auto;

        p {
            line-height: 1.6;
        }

        @media @pre-tablet {
            background: @white;
        }
    }

    .content-wrapper {
        padding-top: 0; 

        video {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }
    }
}

.choose-guides {
    position: relative;

    @media @tablet {
        top: 250px;
    }
}