.main-content {
    background: @white;
    position: absolute;
    top: 100%;
    width: 100%;
    padding-bottom: 9rem;
}

.content-wrapper {
    .section-wrapper(9rem);
    text-align: center;

    @media @tablet {
        text-align: left;
    }

    & > h2 {
        font-size: 3.2rem;
        line-height: 1.2; 
        text-align: center;

        span {
            display: block;
            font-size: 2.5rem;
        }

        @media @mobile {
            font-size: 3.5rem;
        }

        @media @tablet {
            font-size: 4.5rem;
            text-align: left;
        }
    }

    & > p {
        max-width: 500px;
        margin: 0 auto;

        @media @tablet {
            margin: 0;
        }
    }

    &.the-features {
        padding-top: 7rem;
        h2 {
            font-size: 1.5rem;
            text-transform: uppercase;

            @media @tablet {
                text-align: center;
            }
        }
    }
}

.the-features {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    max-width: 600px;

    @media @pre-tablet {
        justify-content: space-between;
    }

    @media @tablet {
        max-width: 1080px;
    }
    
    p {
        font-size: 1.4rem;
    }

    svg {
        color: @primary;
        max-width: 60px;
        width: 100%;
        height: auto;
    }

    & > div {
        max-width: 220px;
        text-align: center;
        margin-bottom: 3rem;

        @media @tablet {
            margin-bottom: 0;
        }
    }
}