
// Colors
@readableGray: #777;
@faintGray: #f9f9f9;
@white: #fff;
@black: #000;
@primary: #f38181;

//Font
@headingFont: 'Alegreya Sans', sans-serif;
@bodyFont: 'Lato', sans-serif;

//Media Queries
@mobile: ~"(min-width: 368px)";
@tablet: ~"(min-width: 768px)";


//Mixins
.borderline(@width) {
    border: @width solid #eee;
}

.section-wrapper() {
    
}