
// Colors
@readableGray: #777;
@faintGray: #f9f9f9;
@white: #fff;
@black: #000;
@overlayBlack: rgba(0, 0, 0, .3);
@primary: #a1d3a2; 
@alternate: #2098D1;

//Font
@headingFont: 'Alegreya Sans', sans-serif;
@bodyFont: 'Lato', sans-serif;

//Media Queries
@mobile: ~"(min-width: 368px)";
@pre-tablet: ~"(min-width: 500px)";
@tablet: ~"(min-width: 992px)";


//Mixins
.borderline(@width) {
    border: @width solid #eee;
}

.primaryColorBg(@a) {
    background: rgba(161, 211, 162, @a)
}

.section-wrapper() {
    max-width: 1080px;
    margin: 0 auto;
    padding: 4rem 2rem;
    width: 100%;
    height: 100%;

    @media @pre-tablet {
        padding: 5rem 2rem;
    }
}